{% extends "base.html" %}

{% block title %}
  Об авторе проекта
{% endblock %}

{% block content %}
  <h1>Всем привет, я автор данного проекта.</h1>
  <p>
    Зовут меня Максим, 19 лет от роду, заинтересовался программированием пару лет назад,
    НО к backend разработке пришёл ой как не сразу...
  </p>
  <p>
    Сначала решил попробовать себя во фронтенде, но почти сразу понял, что это не моё.
    Следующим направлением я решил выбрать Android разработку, но к сожалению (или к счастью),
    меня и это особо не зацепило.
  </p>
  <p>
    И, в конце концов, я открыл для себя бэкенд разработку.
    Может быть, по мере расширения данного проекта добавлю сюда что-то ещё. А может и нет...
  </p>

{% endblock %}